<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcut.dao.BorrowMapper" >
  <resultMap id="BaseResultMap" type="com.jcut.pojo.Borrow" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="book_id" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="borrow_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="expect_return_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, book_id, title, borrow_time, expect_return_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from borrow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from borrow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jcut.pojo.Borrow" >
    insert into borrow (id, user_id, book_id, 
      title, borrow_time, expect_return_time
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=CHAR}, #{bookId,jdbcType=CHAR}, 
      #{title,jdbcType=VARCHAR}, #{borrowTime,jdbcType=TIMESTAMP}, #{expectReturnTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jcut.pojo.Borrow" >
    insert into borrow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="bookId != null" >
        book_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="borrowTime != null" >
        borrow_time,
      </if>
      <if test="expectReturnTime != null" >
        expect_return_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=CHAR},
      </if>
      <if test="bookId != null" >
        #{bookId,jdbcType=CHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="borrowTime != null" >
        #{borrowTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expectReturnTime != null" >
        #{expectReturnTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jcut.pojo.Borrow" >
    update borrow
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="bookId != null" >
        book_id = #{bookId,jdbcType=CHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="borrowTime != null" >
        borrow_time = #{borrowTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expectReturnTime != null" >
        expect_return_time = #{expectReturnTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jcut.pojo.Borrow" >
    update borrow
    set user_id = #{userId,jdbcType=CHAR},
      book_id = #{bookId,jdbcType=CHAR},
      title = #{title,jdbcType=VARCHAR},
      borrow_time = #{borrowTime,jdbcType=TIMESTAMP},
      expect_return_time = #{expectReturnTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByBookId" resultType="int" parameterType="String">
    select count(1) from borrow where book_id = #{bookId}
  </select>
  <select id="selectByUserId" resultType="int" parameterType="String">
    select count(1) from borrow where user_id = #{userId}
  </select>
  <select id="getByBookId" resultMap="BaseResultMap" parameterType="String" >
    select
    <include refid="Base_Column_List" />
    from borrow
    where book_id = #{bookId,jdbcType=CHAR}
  </select>
  <select id="getByUserId" resultMap="BaseResultMap" parameterType="String" >
    select
    <include refid="Base_Column_List" />
    from borrow
    where user_id = #{userId,jdbcType=CHAR}
  </select>
  <delete id="deleteByBookId" parameterType="String" >
    delete from borrow
    where book_id = #{bookId,jdbcType=CHAR}
  </delete>
</mapper>